span {
  font-weight: bold;
  background: lightgray;
  padding: .3em .8em;
  cursor: poiner;
  user-select: none;
}

.play-container {
  padding: 2em;
  border: 1px solid lightgray;
  margin-bottom: 1 em;

  input {
    padding: 1em;
    margin-bottom: 2em;
  }
}
